*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

body{
    background-image: url(img/desenfoque-interior-hospital-clinica_74190-5207.avif);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

#todo{
    background-color: black;
    height: 75vh;
    width: 175vh;
    display: flex;
    border-radius: 3vh;
}

#welcome{
    background-color: darkred;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    width: 70vh;
    border-radius: 3vh;
}

#account{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 105vh;
}

#bienvenido{
    margin-top: 25vh;
    font-size: 8vh;
}

#comunidad{
    width: 60vh;
}
#sesion{
    margin-top: 5vh;
    background-color: transparent;
    width: 20vh;
    height: 6vh;
    border-radius: 3vh;
    border-color: white;
}

#cuenta{
    margin-top: 7vh;
    font-size: 7vh;
}

input{
    height: 5vh;
    width: 50vh;
    border-radius: 10vh;
    margin-top: 2.5vh;
}

#primerinput{
    margin-top: 5vh;
}

#registracion{
    background-color: purple;
    width: 20vh;
    height: 6vh;
    margin-top: 5vh;
    border-radius: 10vh;
}

#textoemail{
    margin-top: 2.5vh;
}

#iconos{
    display: flex;
    height: 8vh;
    width: 38vh;
    margin-top: 2.5vh;
    justify-content: space-between;
}

.icono{
    display: flex;
    height: 8vh;
    background-color: red;
    width: 8vh;
    justify-content: center;
    align-items: center;
    border-radius: 100vh;
}

.icono:hover{
    background-color: darkred;
}

img{
    height: 2vh;
    width: 2vh;
}

#primerinput{
    background-image:url(img/user.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left;
    right: 10000px;
    padding-left: 40px;
    color: black;
}

#segundoinput{
    background-image:url(img/mail.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left;
    right: 10000px;
    padding-left: 40px;
    color: black;
}

#tercerinput{
    background-image:url(img/lock.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left;
    right: 10000px;
    padding-left: 40px;
    color: black;
}

input::placeholder{
    width: 100%;
    padding-left: 20px;
}

